body {
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    background-color: #E90D01;
    height: 7vh;
    width: .35vw;
    border-radius: 5px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180eg);
    }

    75% {
        transform: rotate(270);
    }

    100% {
        transform: rotate(360deg);
    }
}